.card_main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    color: white;
    z-index: 2;
    overflow: hidden;
  }
  
  .card_title {
    font-size: 48px;
    margin-bottom: 30px;
  }
  
  .card_button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #61dafb;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .card_button:hover {
    background-color: #21a1f1;
    color: white;
  }
  
 .card_button a {
    color: black;
    text-decoration: none;
  }
  
.slideshow-container{
    margin: 0;
    display: flex;
    place-items: center;
    width: 100vw;
    height: 46.3vw;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slideshow 30s infinite;
	overflow: hidden;
}
  @keyframes slideshow {
    0% { background-image: url('/src/assets/images/photo.jpg'); }
    20% { background-image: url('/src/assets/images/photo1.jpg'); }
    40% { background-image: url('/src/assets/images/photo2.jpg'); }
    60% { background-image: url('/src/assets/images/photo3.jpg'); }
    75% { background-image: url('/src/assets/images/photo4.jpg'); }
    85% { background-image: url('/src/assets/images/photo5.jpg'); }
    100% { background-image: url('/src/assets/images/photo.jpg'); }
  }
  