/* Main Card Content */
.landing_card_main {
  position: relative;
  height: 100vh; /* Slideshow fully covers entire page */
  width: 100vw;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 2; /* Ensure it stays on top of the slideshow */
}

/* Title Style */
.landing_card_title {
  font-size: 48px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 4px 25px;
}

/* Slideshow Container */
.slideshow-container {
  position: absolute; /* Positions behind the card content */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideshow 30s infinite;
  z-index: 1; /* Ensure it stays behind the card content */
  overflow: hidden;
}

/* Slideshow Animation */
@keyframes slideshow {
  0% {
    background-image: url('/src/assets/resources/LandingSlide1.jpg');
  }
  20% {
    background-image: url('/src/assets/resources/LandingSlide2.jpg');
  }
  40% {
    background-image: url('/src/assets/resources/LandingSlide3.jpg');
  }
  60% {
    background-image: url('/src/assets/resources/LandingSlide4.jpg');
  }
  75% {
    background-image: url('/src/assets/resources/LandingSlide5.jpg');
  }
  85% {
    background-image: url('/src/assets/resources/LandingSlide6.jpg');
  }
  100% {
    background-image: url('/src/assets/resources/LandingSlide1.jpg');
  }
}
